mok-activities-tasks{
    display: flex;
}

mok-activities-tasks:empty{
    display: none;
}

mok-activities-tasks [Activities\:Items]{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

mok-activities-tasks [Activity\:Task]{
    padding: .2rem;
}