
:root[mokian\:color\:palette="rangflow"]{

    --Color-One:#ff8441;

    --Color-Two:#ef5855;

    --Color-Three:#e65c11;

    --Color-Four:#b54341;

    --Color-Five:#1f8654;


    --Color-Success:#00a896;

    --Color-Success-Text:#83fff2;


    --Color-Warning:#fcbf49;

    --Color-Warning-Text:#fff0d4;


    --Color-Error:#d62828;

    --Color-Error-Text:#ffbdbd;

}