

:root[mokian\:color\:palette="royayell"]{

    --Color-One:#0b4295;

    --Color-Two:#072e69;

    --Color-Three:#fece14;

    --Color-Four:#c4a010;

    --Color-Five:#2c9873;


    --Color-Success:#00a896;

    --Color-Success-Text:#83fff2;


    --Color-Warning:#fcbf49;

    --Color-Warning-Text:#fff0d4;


    --Color-Error:#d62828;

    --Color-Error-Text:#ffbdbd;

}
