
:root[mokian\:color\:palette="royalblue"]{

    --Color-One:#124a88;

    --Color-Two:#2f3944;

    --Color-Three:#054488;

    --Color-Four:#0764c7;

    --Color-Five:#1471a6;


    --Color-Success:#00a896;

    --Color-Success-Text:#83fff2;


    --Color-Warning:#fcbf49;

    --Color-Warning-Text:#fff0d4;


    --Color-Error:#d62828;

    --Color-Error-Text:#ffbdbd;

}


